#  <font color='red'> Step 1: Getting Started with Python coding</font>

#### Gopal Karemore
#### Date: 28/05/2018
#### Place: Univ. of Copenhagen

## Langauge Syntax has been devided into following categories

### 1. Assignments
### 2. Data Structures
### 3. Flow Control
### 4. Functions

## <font color='red'>  Assignments/ Variables </font>

In [13]:
# Variable Assignment
a = 3

In [14]:
# Printing variable a output
print(a)

3

In [15]:
# Print is a function which can print combine output of different data type 
print("My Name is Gopal", "of age =", 34, "Working at CPR and Danstem", "Remaining with", 200 , "Hours of work")

My Name is Gopal of age = 34 Working at CPR and Danstem Remaining with 200 Hours of work

In [16]:
# What are datatypes

## Integer
a=2
## Float
a=2.5
## String
a="Gopal"
## Boolean
a= True
b= False


# Accessing character in string

a= "Gopal Karemore"

# First Character
print(a[0])

# Last Character
print(a[-1])

G
e

#### Note: In Python array index starts at 0 and ends with -1

In [17]:
# Multiple Assigments
a,b = 2,4

In [18]:
b

4

## <font color='red'>  Data Structures </font>

#### Three data structres in Python
1. Tuples
2. Lists
3. Dictionaries

### <font color='red'> Tuple

In [19]:
# Tuples are immutable list i.e. they are read only, it can't be changed

a=(3,4,5)

In [20]:
print(a)

(3, 4, 5)

In [21]:
type(a)

tuple

In [22]:
a=(3,4,5,"Gopal","David","Lina")

In [23]:
print(a)

(3, 4, 5, 'Gopal', 'David', 'Lina')

In [24]:
a[0]

3

### <font color='red'> List

In [25]:
a=[3,4,5]

In [26]:
type(a)

list

In [27]:
a=[3,4,5,"Gopal"]

In [28]:
a.append("David")

In [29]:
print(a)

[3, 4, 5, 'Gopal', 'David']

In [30]:
a.remove("Gopal")

In [31]:
print(a)

[3, 4, 5, 'David']

In [34]:
print(len(a))

4

In [36]:
a.pop(2)

5

### <font color='red'> Dictionary

In [37]:
a ={'a' : 1, 'b': 2, 'c': 3}

In [38]:
type(a)

dict

In [39]:
a['b']

2

In [45]:
print(a.keys())
print(a.values())
print(a.items())

dict_keys(['a', 'b', 'c'])
dict_values([1, 2, 3])
dict_items([('a', 1), ('b', 2), ('c', 3)])

## <font color='red'>  Flow Control </font>

1. While loop
2. For loop
3. If-else condition

### <font color='red'> While loop

While loop is doing something **as long as** a particular condition is valid

In [49]:
i = 0

while i<5:
    print(i)
    i = i + 1

0
1
2
3
4

In [ ]:
i = 0

while i<5:
    print(i)
    i = i + 1
#   i+=1

### <font color='red'> For loop

In [57]:
for i in range(1,5):
    print(i, end=" ")

1 2 3 4

In [61]:
a=[1,2,3,43,4,5,5,6,66,6] # it is a list
# How to iterate over list element

for item in a:
    print(item, end=" ")

1 2 3 43 4 5 5 6 66 6

### <font color='red'> If-Else condition

In [67]:
a= 45343
if a<10:
    print("value of ", a," is one digit")
elif a<100:
    print("value of ", a," is two digit")
else:
    print("value of ", a," is neither one nor two digit")

value of  45343  is neither one nor two digit

## <font color='red'>  Functions </font>

In [68]:
def multiply(a,b):
    return a*b

multiply(5,5)

25

In [70]:
def multiply(a,b):
    return a*b

multiply(5)

TypeError: multiply() missing 1 required positional argument: 'b'

In [ ]:
def multiply(a,b=1): # b is given a default value of 1
    return a*b

multiply(5)

## How to get input from user?

In [82]:
#### input converts user input to string, hence it is mandetory to convert it to integer
variable_a= input("Please enter value of first no")
variable_b= input("Please enter value of second no")

Please enter value of first no3
Please enter value of second no3

In [84]:
variable_c=multiply(int(variable_a),int(variable_b))

In [85]:
print("Result is ", str(variable_c))

Result is  9